name: Multi-Environment Deploy

on:
  push:
    branches:
      - main
      - uat

permissions:
  id-token: write
  contents: read

jobs:
  build:
    name: Build Java Project
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn clean package -DskipTests
      - name: Upload JAR Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: target/MeusCerts-0.0.1-SNAPSHOT.jar
          retention-days: 1

  # ====================================================
  # JOB 2: DEPLOY UAT (Só roda na branch 'uat')
  # ====================================================
  deploy-uat:
    name: Deploy to UAT
    needs: build
    if: github.ref == 'refs/heads/uat'
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Download JAR Artifact
        uses: actions/download-artifact@v4
        with:
          name: app-jar
          path: target

      - name: Configure AWS Credentials (SP)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: sa-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init (UAT)
        run: terraform init
        working-directory: ./Infra/environments/uat
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Terraform Apply (UAT)
        working-directory: ./Infra/environments/uat
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: sa-east-1
          TF_VAR_r2_access_key: ${{ secrets.TF_VAR_R2_ACCESS_KEY }}
          TF_VAR_r2_secret_key: ${{ secrets.TF_VAR_R2_SECRET_KEY }}
          TF_VAR_r2_bucket_name: ${{ vars.TF_VAR_R2_BUCKET_NAME_UAT }}
          TF_VAR_r2_public_domain: ${{ vars.TF_VAR_R2_PUBLIC_DOMAIN_UAT }}
          TF_VAR_r2_endpoint: ${{ vars.TF_VAR_R2_ENDPOINT }}
          TF_VAR_env: "uat"
        run: terraform apply -auto-approve

  # ====================================================
  # JOB 3: DEPLOY PROD (Só roda na branch 'main')
  # ====================================================
  deploy-prod:
    name: Deploy to PROD
    needs: build
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Download JAR Artifact
        uses: actions/download-artifact@v4
        with:
          name: app-jar
          path: target

      - name: Configure AWS Credentials (SP)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: sa-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init (PROD)
        run: terraform init
        working-directory: ./Infra/environments/prod
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Terraform Apply (PROD)
        working-directory: ./Infra/environments/prod
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: sa-east-1
          
          TF_VAR_r2_access_key: ${{ secrets.TF_VAR_R2_ACCESS_KEY }}
          TF_VAR_r2_secret_key: ${{ secrets.TF_VAR_R2_SECRET_KEY }}

          TF_VAR_r2_bucket_name: ${{ vars.TF_VAR_R2_BUCKET_NAME_PROD }}
          TF_VAR_r2_public_domain: ${{ vars.TF_VAR_R2_PUBLIC_DOMAIN_PROD }}
          
          TF_VAR_r2_endpoint: ${{ vars.TF_VAR_R2_ENDPOINT }}
          TF_VAR_env: "prod"
        run: terraform apply -auto-approve